{# templates/home.html.twig #}
{{ include('system/head.html.twig') }}

<div class="uk-container" >
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
</div>

<a class="uk-button uk-button-primary uk-button-large uk-width-1-2" href="/cal/{{ year }}/{{ month }}">Forecasts</a>
